/* App Styles */

/* center on page */
.center-page {
    width:100vw;
    height:100vh;
    display:grid;
    justify-content: center;
    align-content: center;
}
.center-page p { text-align:center }

/* smaller font */
.font-size-95 { font-size: 95% }
.font-size-90 { font-size: 90% }

/* spin animation class for iconify icons */
.spin {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.nav-link {
    cursor: pointer;
}
.nav-link:hover { 
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.nav-link.highlight {
    /*text-decoration: underline;
    text-decoration-thickness: 2px;*/
    background-color: #a5cbd7;
    border-radius: 6px;
}
.nav-link.disabled {
    color: #c9c9c9;
}

#sticky-header {
    position: sticky;
    top:0;
    background-color: #fff;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* toTop Button */
.toTop {
    position:fixed;
    bottom: 2rem;
    right: 2rem;
    opacity:0.9;
}

/* Notice Header Styles */
#notice-grid section header {
    background-color: #c3512f;
    color: #fff;
}
#notice-grid section header .row:nth-child(1){
    text-transform: uppercase;
}
#notice-grid section header .row:nth-child(2){
    font-variant: small-caps;
}
.expired {
    background-image: url('../images/expired.png');
    background-repeat: repeat;
}