/* fixes for embedded WP page */
html.responsive, .responsive body {
    overflow-x: unset;
}
#wrap_all { overflow: unset }
@media only screen and (max-width: 767px) {
    .responsive #top #wrap_all .av-flex-cells .no_margin {
        overflow: unset;
    }
}

#top form#notice-filters { margin-bottom: 0;}
#top form#notice-filters .row {
    zoom:unset;
    clear: unset;
    margin-bottom: 0;
    position:static;
}
#top form#notice-filters label {
    font-weight:unset;
    font-size:initial;
}
#top form#notice-filters select { 
    margin-bottom: 0;
}
@media only screen and (min-width: 997px) {
    #wrap_all .title_container {
        margin-top:inherit;
    }
}